.app-title {
  border-radius: 0.5rem;
}

.red-completed {
  background-color: lightcoral !important;
  transition: 0.3s ease-in;
  color: white;
  text-decoration-line: line-through;
}

.acconote-title {
  padding: 0 0 1px 0;
  margin-bottom: 10px;
}

.delete-box {
}

.myBtn {
  width: 200px;
}

.app-logo {
  background-image: url('../src/assets/img/acconote-logo-2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20rem;
  height: 18vh;
}

.todo-list {
  margin-right: 5px;
  box-sizing: border-box;
  border-color: #ffffff;
}

.trash-icon {
  display: inline-block;
}

.trash-icon i {
  margin: 0;
  font-size: 10rem;
  padding: 2.5rem;
  /* color: crimson; */
  color: rgb(241, 59, 59);
}

.delete-box span {
  padding-left: 1.5rem;
  font-style: italic; 
  font-size: 1.3rem;
}

/* Things that are dragged around */

.collection-item {
  cursor: pointer;
  transition: 0.1s ease-out;
}

.collection-item:hover {
  cursor: pointer;
  background-color: aliceblue;
  border: 2px solid aliceblue;
  transition: 0.1s ease-out;
}

.hold {
  border: solid #ccc 4px;
}

.hovered {
  background-color: #f4f4f4;
  border-style: dashed;
}

.invisible {
  display: none;
}

.delete-box-big {
  transform: scale(0.9);
  transition: ease-in 0.2s;
}

.delete-box-return-default {
  transform: scale(1);
  transition: ease-in 0.2s;
}