/* App | Container */

.app-logo {
  background-image: url('../src/assets/img/acconote-logo-2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20rem;
  height: 18vh;
}

.add-task-btn {
  width: 200px;
}

/* Todo list */

.collection {
  margin-right: 5px;
  box-sizing: border-box;
  border-color: #ffffff;
}

/* Todo items */

.collection-item {
  cursor: pointer;
  transition: 0.1s ease-out;
}

.collection-item:hover {
  cursor: pointer;
  /* background-color: rgb(240, 248, 255); */
  background-color: rgba(250, 250, 250, 0.815);
  /* padding: 0.8rem;
  padding-left: 1.55rem; */
  /* border: 1px solid aliceblue; */
  /* transition: 0.1s ease-out; */
}

.red-completed {
  background-color: lightcoral !important;
  transition: 0.2s ease-in;
  color: white;
  text-decoration-line: line-through;
}

.hold {
  border: solid #ccc 4px;
}

.hovered {
  background-color: #f4f4f4;
  border-style: dashed;
}

.invisible {
  display: none;
}

/* Delete section */

.delete-box {
  text-align: center;
  padding: 0;
}

.delete-box span {
  font-style: italic; 
  font-size: 1.3rem;
}

.trash-icon {
  display: inline-block;
}

.trash-icon i {
  margin: 0;
  font-size: 10rem;
  padding: 2.5rem;
  color: rgb(241, 59, 59);
}

.trash-icon-transform {
  transform: rotate(20deg) scale(0.9);
  transition: ease-in 0.2s;
  color: rgb(243, 159, 32) !important;
}

.trash-icon-reset {
  transform: scale(1);
  transition: ease-in 0.2s;
}