.app-title {
  border-radius: 0.5rem;
}

.red-completed {
  background-color: lightcoral !important;
}

.acconote-title {
  padding: 0 0 1px 0;
  background-color: aliceblue;
  margin-bottom: 10px;
}

/* .delete-box {
  margin: 0;
  padding: 0;
  background-color: gainsboro;
} */

.todo-list {
  margin-right: 5px;
  box-sizing: border-box;
}

.trash-icon {
  display: inline-block;
}

.trash-icon i {
  margin: 0;
  font-size: 10rem;
  padding: 2.5rem;
  color: crimson;
}

.delete-box span {
  padding-left: 1.5rem;
  font-style: italic; 
  font-size: 1.3rem;
}

/* Things that are dragged around */

.collection-item {
  cursor: pointer;
}

.collection-item:hover {
  cursor: pointer;
  background-color: aliceblue;
}

.hold {
  border: solid #ccc 4px;
}

.hovered {
  background-color: #f4f4f4;
  border-style: dashed;
}

.invisible {
  display: none;
}